.DS_Store
OTLargeImageReaderDemo.xcodeproj/xcuserdata/
OTLargeImageReaderDemo.xcodeproj/project.xcworkspace/
OTLargeImageReaderMacDemo.xcodeproj/project.xcworkspace/
OTLargeImageReaderMacDemo.xcodeproj/xcuserdata/